:root,
#root,
#docs-root{
    --primary-color: #FEFEFE;
    --secondary-color: #F9F9F9;
    --fill: #EFEFEF;
    --fill-hover: #c6c6c6;
    --fill-reverse: #23234F;
    --background: #6F97F1;
    --text: #181818;
    --blue: #6F96F1;
    --text-reverse: #E8E8E8;
    --shadow-color: rgba(200, 200, 200, 0.5);
    --loader: #E7E7E7;
    --gradient: linear-gradient(180deg, #4B5EE4 0%, #6F97F0 100%);
    --gradient-error: linear-gradient(180deg, #B71C1C 0%, #F44336 100%);
    --gradient-hover: linear-gradient(180deg, #3D4C87 0%, #5576B7 100%);
    --gradient-validate: linear-gradient(180deg, #008000 0%, #00FF00 100%);

}
