:root{
    --primary-color: #262626;
    --secondary-color: #313368;
    --fill: #23234F;
    --fill-reverse:#EFEFEF;
    --background: #1C1C23;
    --text: #E8E8E8;
    --text-reverse: #181818;
    --loader: #323232;
}

