:root{
    --primary-color: #262626;
    --secondary-color: #313368;
    --fill: #23234F;
    --fill-hover: #3f3f7f;
    --fill-reverse:#EFEFEF;
    --background: #1C1C23;
    --text: #E8E8E8;
    --text-reverse: #181818;
    --loader: #323232;
    --gradient: linear-gradient(180deg, #4B5EE4 0%, #6F97F0 100%);
    --gradient-hover: linear-gradient(180deg, #3D4C87 0%, #5576B7 100%);
}

