:root{
    --primary-color: #FEFEFE;
    --secondary-color: #6F96F0;
    --fill: #EFEFEF;
    --fill-hover: #c6c6c6;
    --fill-reverse: #23234F;
    --background: #6F97F1;
    --text: #181818;
    --text-reverse: #E8E8E8;
    --loader: #E7E7E7;
    --gradient: linear-gradient(180deg, #4B5EE4 0%, #6F97F0 100%);
    --gradient-hover: linear-gradient(180deg, #3D4C87 0%, #5576B7 100%);
}
